 @if (clienteservice.have_pokemon) {
      <div class="flex items-center" style="font-family: 'Muli', sans-serif;">
          <div class="container ml-auto mr-auto flex flex-wrap items-start">
            <div class="w-full pl-5 lg:pl-2 mb-4 text-center uppercase">
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2 mx-auto">
              <div class="bg-slate-300 rounded-lg m-h-64 p-2 transform hover:shadow-xl transition duration-300">
                <figure class="mb-2">
                  <img src="{{clienteservice.img_cli_mostrar}}" alt="" class="h-64 duration-150 ml-auto mr-auto hover:scale-125 drop-shadow-2xl " />
                </figure>
                <div>
                  <h5 class="text-black text-2xl font-bold leading-none uppercase text-center">
                    <p>
                      
                      <span class="text-slate-600 mr-2">#{{clienteservice.id_cli_pokemons}}</span>
                      
                      
                      {{clienteservice.nombre_cli}}</p>
                  </h5>
                </div>
                <div class="rounded-lg p-4 bg-slate-900 flex flex-col">
                    <div class="text-lg font-light flex flex-row mx-auto m-3">
                      @for (tipo of clienteservice.tipo_cli; track $index) {
                        @switch (tipo["type"]["name"]) {
                          @case ("fire") {
                            <img class="w-8 cursor-help bg-red-500 rounded-full m-1 p-2" src="./assets/img/tipos/fire.svg" title="FUEGO">
                          }
                          @case ("bug") {
                            <img class="w-8 cursor-help bg-green-700 rounded-full m-1 p-2" src="./assets/img/tipos/bug.svg" title="INSECTO">
                          }
                          @case ("dark") {
                            <img class="w-8 cursor-help bg-violet-950 rounded-full m-1 p-2" src="./assets/img/tipos/dark.svg" title="SINIESTRO">
                          }
                          @case ("dragon") {
                            <img class="w-8  bg-cyan-600 cursor-help rounded-full m-1 p-2" src="./assets/img/tipos/dragon.svg" title="DRAGON">
                          }
                          @case ("electric") {
                            <img class="w-8 bg-yellow-500 cursor-help rounded-full m-1 p-2" src="./assets/img/tipos/electric.svg" title="ELECTRICO">
                          }
                          @case ("fairy") {
                            <img class="w-8 bg-pink-300 rounded-full cursor-help m-1 p-2" src="./assets/img/tipos/fairy.svg" title="HADA">
                          }
                          @case ("fighting") {
                            <img class="w-8 bg-orange-500 rounded-full m-1 p-2 cursor-help" src="./assets/img/tipos/fighting.svg" title="LUCHADOR">
                          }
                          @case ("ghost") {
                            <img class="w-8 cursor-help bg-purple-600 rounded-full m-1 p-2" src="./assets/img/tipos/ghost.svg" title="FANTASMA">
                          }
                          @case ("grass") {
                            <img class="w-8 cursor-help bg-green-500 rounded-full m-1 p-2" src="./assets/img/tipos/grass.svg" title="HIERBA">
                          }
                          @case ("ground") {
                            <img class="w-8 cursor-help bg-orange-700 rounded-full m-1 p-2" src="./assets/img/tipos/ground.svg" title="TIERRA">
                          }
                          @case ("ice") {
                            <img class="w-8 cursor-help bg-cyan-400 rounded-full m-1 p-2" src="./assets/img/tipos/ice.svg" title="HIELO">
                          }
                          @case ("normal") {
                            <img class="w-8 bg-red-300 cursor-help rounded-full m-1 p-2" src="./assets/img/tipos/normal.svg" title="NORMAL">
                          }
                          @case ("poison") {
                            <img class="w-8 bg-purple-500 cursor-help rounded-full m-1 p-2" src="./assets/img/tipos/fire.svg" title="VENENO">
                          }
                          @case ("psychic") {
                            <img class="w-8 cursor-help bg-pink-500 rounded-full m-1 p-2" src="./assets/img/tipos/psychic.svg" title="PSIQUICO">
                          }
                          @case ("rock") {
                            <img class="w-8 cursor-help bg-orange-950 rounded-full m-1 p-2" src="./assets/img/tipos/rock.svg" title="ROCA">
                          }
                          @case ("steel") {
                            <img class="w-8 bg-slate-500 cursor-help rounded-full m-1 p-2" src="./assets/img/tipos/steel.svg" title="HIERRO">
                          }
                          @case ("water") {
                            <img class="w-8 bg-blue-500 cursor-help rounded-full m-1 p-2" src="./assets/img/tipos/water.svg" title="AGUA">
                          }
                          @case ("flying") {
                            <img class="w-8 bg-blue-200 cursor-help rounded-full m-1 p-2" src="./assets/img/tipos/flying.svg" title="VOLADOR">
                          }
                        }   
                      }
                    </div>
                    <div class="grid grid-cols-2 gap-1 m-2">
                      @for (stat of clienteservice.stats; track $index) {
                        @switch (stat.stat.name) {
                          @case ("hp") {
                            <p class="text-white font-semibold">HP:</p><p class="text-white font-semibold"> {{stat.base_stat}}</p>
                          }
                          @case ("attack") {
                            <p class="text-white font-semibold">ATAQUE:</p><p class="text-white font-semibold"> {{stat.base_stat}}</p>
                          }
                          @case ("defense") {
                            <p class="text-white font-semibold">DEFENSA:</p><p class="text-white font-semibold"> {{stat.base_stat}}</p>
                          }
                          @case ("special-attack") {
                            <p class="text-white font-semibold">ATQ.ESP:</p><p class="text-white font-semibold"> {{stat.base_stat}}</p>
                          }
                          @case ("special-defense") {
                            <p class="text-white font-semibold">DEF.ESP:</p><p class="text-white font-semibold"> {{stat.base_stat}}</p>
                          }
                          @case ("speed") {
                            <p class="text-white font-semibold">VEL:</p><p class="text-white font-semibold"> {{stat.base_stat}}</p>
                          }
                        }
                        
                          
                        }
                      
                    </div>
                    <button type="button" routerLink="/ataques" (click)="modalservice.abrir_ataques()" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm p-2 text-center me-2 mb-2">ATQ.</button>
                  </div>
              </div>
            </div>
          </div>
      </div>
      } @else {
        <p class="text-center mt-16 text-3xl font-bold rounded bg-white w-3/4 mx-auto"> INTRODUCE EL NOMBRE o <span class="text-red-500">ID</span> DE UN POKEMON PARA VER SUS CARACTERÍSTICAS</p>
      }

<app-footer></app-footer>

  
