<div class="  mt-6 md:w-3/4 md:mx-auto">
<div class="relative sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 ">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th colspan="7" scope="col" class="px-6 py-3 text-center">
                    Tabla de daños de
                    
                        @switch (clienteservice.tipo) {
                            @case ("fire") {
                              <strong class="bg-red-500 rounded p-1 text-white">FUEGO</strong>
                            }
                            @case ("bug") {
                                <strong class=" bg-green-700 rounded p-1" value="bug" >BICHO</strong>
                            }
                            @case ("dark") {
                                <strong class=" bg-violet-950 rounded text-white p-1" value="dark" >SINIESTRO</strong>
                            }
                            @case ("dragon") {
                                <strong class=" bg-cyan-600 rounded p-1" value="dragon" >DRAGON</strong>
                            }
                            @case ("electric") {
                                <strong class=" bg-yellow-500 rounded p-1" value="electric" >ELECTRICO</strong>
                            }
                            @case ("fairy") {
                                <strong class=" bg-pink-300 rounded p-1" value="fairy" >HADA</strong>
                            }
                            @case ("fighting") {
                                <strong class=" bg-orange-500 rounded p-1" value="fighting" >LUCHA</strong>
                            }
                            @case ("ghost") {
                                <strong class="bg-purple-600 rounded p-1" value="ghost" >FANTASMA</strong>
                            }
                            @case ("grass") {
                                <strong class="bg-green-500 rounded p-1" value="grass" >PLANTA</strong>
                            }
                            @case ("ground") {
                                <strong class=" bg-orange-700 rounded p-1" value="ground" >TIERRA</strong>
                            }
                            @case ("ice") {
                                <strong class=" bg-cyan-400 rounded p-1" value="ice" >HIELO</strong>
                            }
                            @case ("normal") {
                                <strong class=" bg-red-300 rounded p-1" value="normal" >NORMAL</strong>
                            }
                            @case ("poison") {
                                <strong class=" bg-purple-500 rounded p-1" value="poison" >VENENO</strong>
                            }
                            @case ("psychic") {
                                <strong class=" bg-pink-500 rounded p-1" value="psychic" >PSIQUICO</strong>
                            }
                            @case ("rock") {
                                <strong class=" bg-orange-950 rounded p-1 text-white" value="rock" >ROCA</strong>
                            }
                            @case ("steel") {
                                <strong class=" bg-slate-500 rounded p-1 text-white" value="steel" >ACERO</strong>
                            }
                            @case ("water") {
                                <strong class=" bg-blue-500 rounded p-1" value="water" >AGUA</strong>
                            }
                            @case ("flying") {
                                <strong class=" bg-blue-200 rounded p-1" value="flying" >VOLADOR</strong>
                            }
                          }
                         
                    
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd:bg-slate-700 odd:dark:bg-gray-900 even:bg-slate-950 even:dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap dark:text-white">
                    Fuerte <strong>contra (x2)</strong>
                </th>
                <td class="px-3 py-2 grid grid-cols-2">
                @for (doble_a of clienteservice.double_damage_to; track $index) {
                    
                    <img [className]="clienteservice.add_bg_color(doble_a.name)"  [src]="clienteservice.elegir_imagen_tipo(doble_a.name)" >
                    
                }
            </td>
            </tr>
            <tr class="odd:bg-slate-700 odd:dark:bg-gray-900 even:bg-slate-950 even:dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap dark:text-white">
                    Mitad de daño <strong>hacia (1/2)</strong>
                </th><td class="px-3 py-2 grid grid-cols-2">
                @for (mitad_a of clienteservice.half_damage_to; track $index) {
                    
                        <img [className]="clienteservice.add_bg_color(mitad_a.name)" [src]="clienteservice.elegir_imagen_tipo(mitad_a.name)" >
                        
                }
            </td>

            </tr>
            <tr class="odd:bg-slate-700 odd:dark:bg-gray-900 even:bg-slate-950 even:dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap dark:text-white">
                    <strong>NO</strong> hace daño a
                </th>
                <td class="px-3 py-2 grid grid-cols-2">
                @for (no_a of clienteservice.no_damage_to; track $index) {
                    
                        <img [className]="clienteservice.add_bg_color(no_a.name)" [src]="clienteservice.elegir_imagen_tipo(no_a.name)" >
                        
                }
                </td>
            </tr>
            <tr class="odd:bg-slate-700 odd:dark:bg-gray-900 even:bg-slate-950 even:dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap dark:text-white">
                    <strong>Recibe (x2)</strong> de daño de
                </th>
                <td class="px-3 py-2 grid grid-cols-2">
                @for (doble_de of clienteservice.double_damage_from; track $index) {
                    
                        <img [className]="clienteservice.add_bg_color(doble_de.name)" [src]="clienteservice.elegir_imagen_tipo(doble_de.name)" >
                        
                }
            </td>
            </tr>
            <tr class="odd:bg-slate-700 odd:dark:bg-gray-900 even:bg-slate-950 even:dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap dark:text-white ">
                    <strong>Recible (1/2)</strong> la mitad de daño de
                </th>
                <td class="px-3 py-2 grid grid-cols-2">
                @for (mitad_de of clienteservice.half_damage_from; track $index) {
                    
                        <img [className]="clienteservice.add_bg_color(mitad_de.name)" [src]="clienteservice.elegir_imagen_tipo(mitad_de.name)" >
                        
                }
                </td>
                <tr class="odd:bg-slate-700 odd:dark:bg-gray-900 even:bg-slate-950 even:dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap dark:text-white">
                    <strong>NO</strong> recibe de daño de
                </th>
                <td class="px-3 py-2 grid grid-cols-2">                   
                @for (no_de of clienteservice.no_damage_from; track $index) {
                    
                        <img [className]="clienteservice.add_bg_color(no_de.name)" [src]="clienteservice.elegir_imagen_tipo(no_de.name)" >
                        
                }
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>-
<div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 m-8 gap-4">
    @for (pokemon of clienteservice.array_todos_pokemon; track $index) {
      <div routerLink="/pokemon" class="w-56 duration-150 p-1  cursor-pointer bg-white rounded-lg overflow-hidden shadow-lg mx-auto hover:scale-105" (click)="clienteservice.info_nombre_api_con_id(pokemon.id)">
        <div class="px-6 py-4">          
          <figure class="mb-2">
            <img src="{{pokemon.img}}" alt="" class="h-48 z-50 duration-150 ml-auto mr-auto hover:scale-110 drop-shadow-2xl " />
          </figure>
          <div class="font-bold text-xl text-center mb-2 uppercase"><span class="text-slate-600 mr-2">#{{pokemon.id}}</span>{{pokemon.name}}</div>
          </div>
          <div class="rounded-lg bg-slate-900 justify-center flex flex-col">
            <div class="flex flex-row  mx-auto m-3">
              @for (tipo of pokemon.type; track $index) {
                @switch (tipo["type"]["name"]) {
                  @case ("fire") {
                    <img class="w-8 cursor-help bg-red-500 rounded-full m-1 p-2" src="./assets/img/tipos/fire.svg" title="FUEGO">
                  }
                  @case ("bug") {
                    <img class="w-8 cursor-help bg-green-700 rounded-full m-1 p-2" src="./assets/img/tipos/bug.svg" title="INSECTO">
                  }
                  @case ("dark") {
                    <img class="w-8 cursor-help bg-violet-950 rounded-full m-1 p-2" src="./assets/img/tipos/dark.svg" title="SINIESTRO">
                  }
                  @case ("dragon") {
                    <img class="w-8  bg-cyan-600 cursor-help rounded-full m-1 p-2" src="./assets/img/tipos/dragon.svg" title="DRAGON">
                  }
                  @case ("electric") {
                    <img class="w-8 bg-yellow-500 cursor-help rounded-full m-1 p-2" src="./assets/img/tipos/electric.svg" title="ELECTRICO">
                  }
                  @case ("fairy") {
                    <img class="w-8 bg-pink-300 rounded-full cursor-help m-1 p-2" src="./assets/img/tipos/fairy.svg" title="HADA">
                  }
                  @case ("fighting") {
                    <img class="w-8 bg-orange-500 rounded-full m-1 p-2 cursor-help" src="./assets/img/tipos/fighting.svg" title="LUCHADOR">
                  }
                  @case ("ghost") {
                    <img class="w-8 cursor-help bg-purple-600 rounded-full m-1 p-2" src="./assets/img/tipos/ghost.svg" title="FANTASMA">
                  }
                  @case ("grass") {
                    <img class="w-8 cursor-help bg-green-500 rounded-full m-1 p-2" src="./assets/img/tipos/grass.svg" title="HIERBA">
                  }
                  @case ("ground") {
                    <img class="w-8 cursor-help bg-orange-700 rounded-full m-1 p-2" src="./assets/img/tipos/ground.svg" title="TIERRA">
                  }
                  @case ("ice") {
                    <img class="w-8 cursor-help bg-cyan-400 rounded-full m-1 p-2" src="./assets/img/tipos/ice.svg" title="HIELO">
                  }
                  @case ("normal") {
                    <img class="w-8 bg-red-300 cursor-help rounded-full m-1 p-2" src="./assets/img/tipos/normal.svg" title="NORMAL">
                  }
                  @case ("poison") {
                    <img class="w-8 bg-purple-500 cursor-help rounded-full m-1 p-2" src="./assets/img/tipos/fire.svg" title="VENENO">
                  }
                  @case ("psychic") {
                    <img class="w-8 cursor-help bg-pink-500 rounded-full m-1 p-2" src="./assets/img/tipos/psychic.svg" title="PSIQUICO">
                  }
                  @case ("rock") {
                    <img class="w-8 cursor-help bg-orange-950 rounded-full m-1 p-2" src="./assets/img/tipos/rock.svg" title="ROCA">
                  }
                  @case ("steel") {
                    <img class="w-8 bg-slate-500 cursor-help rounded-full m-1 p-2" src="./assets/img/tipos/steel.svg" title="HIERRO">
                  }
                  @case ("water") {
                    <img class="w-8 bg-blue-500 cursor-help rounded-full m-1 p-2" src="./assets/img/tipos/water.svg" title="AGUA">
                  }
                  @case ("flying") {
                    <img class="w-8 bg-blue-200 cursor-help rounded-full m-1 p-2" src="./assets/img/tipos/flying.svg" title="VOLADOR">
                  }
                }   
              }
            </div>
          </div>
      </div>
}
</div>
  